@import url(https://fonts.googleapis.com/css?family=Inter);

body{
    
    background-image: url(./images/fondo_desktop.svg);
    background-size:cover; 
    background-repeat: no-repeat;
    display:flex;
    justify-content: center; /*alinea izquierda, centro o derecha*/
    align-items: center;   /*alinea arriba, centro o abajo*/
    font-family: 'Inter';
    height: 630px;
}

main{
    background-color: transparent;
    width: 785px;
height: 422px;
    position: relative;
}

.foto1{
    position: absolute;
    width: 382px;
    height: 376px;
    float:right;
right: 0px;    
border-radius: 5px;box-shadow: 0px 58px 40px -25px rgba(58, 46, 121, 0.58);
}

.perfil{
    width: 440px;
    height: 205px;
    left: 0px;
    float: left;
    top: 102px;
    font-size: 20px;
    position: absolute;
    font-weight: normal;
}

.datos1{
    position: absolute;
    height:25px;
    width: 189px;
    top:280px;
}

h4{    
    color: #202046;
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
letter-spacing: 0.04em;
border: solid ;
}

h5{
    color: #202046;
    float:left;
    margin: 0px;
font-size: 13px;
font-weight: 900;
letter-spacing: 0.04em;
text-align: center;border: solid ;
}

h6{
    color: #babacf;
    float:right;
    margin: 0px;
font-size: 13px;
font-weight: normal;
letter-spacing: 0.04em;
border: solid ;
}

.botones{
    padding: 10px;
    background-color: white;
    width: 60px;
height: 17px;
left: 437px;
top: 355px;
border-radius: 17px;
position: absolute;
}
.anterior{
    float: left;
}
.siguiente{
    float: right;
}

.foto2{
    position: absolute;
    width: 382px;
    height: 376px;
    float:right;
right: 0px;    
border-radius: 5px;box-shadow: 0px 58px 40px -25px rgba(58, 46, 121, 0.58);
}

.perfil2{
    width: 440px;
    height: 205px;
    left: 0px;
    float: left;
    top: 102px;
    font-size: 20px;
    position: absolute;
    font-weight: normal;
}
.datos2{
    top:280px;
    position: absolute;
    height:25px;
    width: 284px;
}

.foto3{
    position: absolute;
    width: 382px;
    height: 376px;
    float:right;
right: 0px;    
border-radius: 5px;box-shadow: 0px 58px 40px -25px rgba(58, 46, 121, 0.58);
}

.perfil3{
    width: 440px;
    height: 205px;
    left: 0px;
    float: left;
    top: 102px;
    font-size: 20px;
    position: absolute;
    font-weight: normal;
}
.datos3{
    top:280px;
    position: absolute;
    height:25px;
    width: 190px;
}
@media screen and (max-width:815px){

    body{
    
        background-image: url(./images/fondo_mobile.svg);
        background-size:cover; 
        background-repeat: no-repeat;
        display:flex;
        justify-content: center; /*alinea izquierda, centro o derecha*/
        align-items: center;   /*alinea arriba, centro o abajo*/
        font-family: 'Inter';
        height: 629px;
    }
    
    main{
        background-color: transparent;
        width: 321px;
    height: 528px;
        position: relative;
        border: solid;
    }
   
    .foto1{
        position: absolute;
        width: 255px;
        left: 30px;
height: 252px;
    border-radius: 5px;box-shadow: 0px 58px 40px -25px rgba(58, 46, 121, 0.58);
    }
    
    .perfil{
        width: 315px;
        height: 205px;
        left: 0px;
        top: 332px;
        text-align: center;
        font-size: 20px;
        position: absolute;
    }
    
    .datos1{
        top:480px;
        position: absolute;
        height:45px;
        left: 59px;
        width: 201px;
        border: solid;
    }
    
    h4{    
        color: #202046;
        margin: 0px;
        font-size: 16px;
        font-weight: normal;
line-height: 18px;
    }
    
    h5{
        color: #202046;
        margin: 0px;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0.04em;
    width: 195px;
    text-align: center;
    }
    
    h6{        
        width: 195px;
        color: #babacf;
        margin: 0px;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.04em;
    text-align: center;
    }
    
    .botones{
        padding: 10px;
        background-color: white;
        width: 60px;
    height: 17px;
    left: 117px;
    top: 238px;
    border-radius: 17px;
    position: absolute;
    }
    .anterior{
        float: left;
    }
    .siguiente{
        float: right;
    }
    
    .foto2{
        position: absolute;
        width: 255px;
        left: 30px;
height: 252px;
    border-radius: 5px;box-shadow: 0px 58px 40px -25px rgba(58, 46, 121, 0.58);
   }
    
    .perfil2{
        width: 315px;
        height: 205px;
        left: 0px;
        top: 332px;
        text-align: center;
        font-size: 20px;
        position: absolute;
    }
    .datos2{
        top:480px;
        position: absolute;
        height:45px;
        left: 59px;
        width: 201px;
        border: solid;
    }
    
    .foto3{
        position: absolute;
        width: 255px;
        left: 30px;
height: 252px;
    border-radius: 5px;box-shadow: 0px 58px 40px -25px rgba(58, 46, 121, 0.58);
  }
    
    .perfil3{
        width: 315px;
        height: 205px;
        left: 0px;
        top: 332px;
        text-align: center;
        font-size: 20px;
        position: absolute;
   }
    .datos3{
        top:480px;
        position: absolute;
        height:45px;
        left: 59px;
        width: 201px;
        border: solid;
    }

}
