@import url(https://fonts.googleapis.com/css?family=Raleway);

body{   
     background-image: url(./images/bg-desktop.png);
    background-size:cover; 
    background-repeat: no-repeat; 
    display:flex;
    justify-content: center; /*alinea izquierda, centro o derecha*/
    align-items: center;   /*alinea arriba, centro o abajo*/
    font-family: 'Raleway';
    height: 620px;
}
main{
    background-color: transparent;
    width: 780px;
    height: 180px;
    padding: 20px 10px 20px 10px;
    position: relative;
}
.logo{
    margin-bottom: 10px;
    width: 112px;
    height: 32px;
}
.encabezado{
    margin-top: 0px;
    padding: 30px 5px 20px 25px;
    width: 240px;
    height: 110px;
    position: absolute;
    background-color: #1e2d69;
    float: left;
    left: 40px;
    border-radius: 8px 70px 8px 8px;
    box-shadow: 2px 2px 10px #0c122c;
}
.opciones{
    margin-top: 10px;
    position: absolute;
    background-color: #1e2d69;
    width: 165px;
    height: 45px;
}
.opciones img{
    background-color: #1e2d69;
    width: 35px;
    height: 35px;
    margin-right: 7px;
}
.color{
    margin-top: 34px;
    background-color: #1e2d69;
    border-radius: 8px;
    color: white;
    position: absolute;
    right: 40px;
    float: right;
    width: 379px;
    height: 70px;
    padding: 28px 20px 28px 20px;
    box-shadow: 2px 2px 10px #0c122c;
}
.barra{
    background-color: #0c122c;
    width: 375px;
    height: 16px;
    left: 31px;
    position: absolute;
    top: 51px;
    border-radius: 10px;
}
#progresoBarra{
    background-image: linear-gradient(45deg, #FFA399,#FF4C97 );
    height: 15px;
    position: relative;
    border-radius: 10px;
animation: cambio_color 40s;
}


 .punto{
    background-color: white;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    float: right;
} 
 
 /* #degradado{
    width: 97%;
    height: 10px;
    left: 4px;
    position: absolute;
    background: linear-gradient(45deg,#FFA399,#FF4C97);
    top: 1px;
    
   animation: cambio_color 10s; 
}*/
/* @keyframes cambio_color {
  from  {width: 4%;}
  to    {width: 97%;}
} */
.texto{
    position: absolute;
    left: 29px;
    margin: 0px;
}
h5{
    font-size: 10px;
    font-weight: 500;
}
h3{
    font-size: 30px;
    font-weight: 900;
    float: left;   
    margin: 10px 0px 10px 20px;    
}
h4{
    font-size: 10px;
    font-weight: 500;    
    float: right;
    top: 90px;
    margin: 25px 25px 20px 0px;
}
b{
    font-size: 10px;
    font-weight: 600;
}
.cero{
    top: 5px;
    position: absolute;
    left: 9px;
    float: left;
    margin: 0px;
}
.mil{
    top: 5px;
    position: absolute;
    float: right;
    right: 6px;
    margin: 0px;
}
.GB{
    top: 69px;
    height: 20px;
    left: 23px;
    position: absolute;
    width: 369px;
}
#mensaje{
    background-color: white;
    position: absolute;
    width: 140px;
    height: 60px;
    top:-30px;
    left:241px;
    border-radius: 10px;
    color:black;
    }


@media screen and (max-width:880px){

body{
    background-image: url(./images/bg-mobile.png);  
}
main{
width: 240px;
height: 320px;
padding: 10px 10px 10px 10px;
}
.encabezado{
    width: 200px;
    height: 100px;
    left: 10px;
}
.color{
    margin-top: 180px;
    left: 10px;
    width: 210px;
    height: 78px;
}
.barra{
    width: 194px;
    left: 17px;
    top: 53px;
}
.texto{
    left: 34px;
}
.GB{
    left: 8px;
    width: 209px;
}
#mensaje{
    top:100px;
    left:41px;
    }
}
