@import url(https://fonts.googleapis.com/css?family=Poppins);
body{
    font-family: 'Poppins'; 
    background: #FF7978;
    display:flex;
    justify-content: center;/*alinea izquierda, centro o derecha*/  
    align-items: center;/*alinea arriba, centro o abajo*/     
    background-image: url(./images/bg-intro-desktop.png);
    background-size: cover; 
    animation: mover 10s infinite;
}
@keyframes mover {
    0%, 100% {background-position: top; }
    50% {background-position: bottom; }
  }
main{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 1085px;
    height: 620px;
}
.texto{
    width: 465px;
    height: 248px;
    color: #FFFFFF;
}
h1{
    margin: 0px;
    font-size: 45px;
}
h4{
font-weight: 500;
font-size: 15px;
}
.suscribir{
    width: 475px;
    height: 555px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.promocion{
    width: 475px;
    height: 57px;
    background: #5D54A3;
    border-radius: 7px;
    box-shadow:0px 5px 0px rgba(151, 129, 129, 0.56);
}
h5{
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    margin: 20px;
    text-align: center;
}
form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;/*alinea izquierda, centro o derecha*/  
    align-items:center;
    width: 455px;
    height: 420px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 25px;
    box-shadow:0px 5px 0px rgba(151, 129, 129, 0.56);
}
.grupos{
    width: 423px;
    height: 104px;
}
.grupo_input{
    width: 421px;
    height: 43px;
    position: relative;
}
.validacion{
    position: absolute;   
    top: 10px; 
   right: 10px;
   opacity: 0;  
}
input{
    width: 421px;
    height: 53px;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    outline: none;
}
::placeholder{
    color: #747378;
    font-size: 15px;
}
:focus{
    border: 1px solid rgb(67, 196, 243);
}
p{
    color:  red; 
    font-size: 9px;
    float: right;
    display: none;
}
.mensaje_error{
    color: red;
    font-size: 12px;
    display: none;
}
.mensaje_error_activo{
    display: block;
}
button{
    width: 421px;
    height: 53px;
    background: #37CC8A;
    border-radius: 4px;  
    border: none;
    filter: drop-shadow(0px 3px 0px rgba(69, 181, 135, 0.99));
    color: #FFFFFF;
}
button:hover{
    background: #6ce8b0;
}
.mensaje_correcto{
    color: green;
    font-size: 12px;
    display: none;
}
.mensaje_correcto_activo{
    display: block;
}
.grupos_correcto{
    width: 423px;
    height: 104px;
}
.grupos_incorrecto .validacion{
   opacity: 1;   
}
.grupos_incorrecto input{
    border-color:  red;  
}
.grupos_incorrecto p{
    border-color:  red;  
    display: block;
}
.terminos{
    text-align: center;
    font-style: normal;
    font-size: 10px;
    color: #BCBAC5;
}
.terminos b{
    color: #FF7978;
}
@media screen and (max-width:980px){ 
    body{   
        background-image: url(./images/bg-intro-mobile.png);
        animation: mover 25s infinite;
    }
    main{ 
        align-content:stretch;
        width: 501px;
        height: 997px;
    }      
    .texto{
    text-align: center;
    }
}